.footer{
  background-color: rgb(20, 20, 48);
}

.wrapper{
  padding: 20px;
}
.footer-logo{
  text-align: start;
}

.footer-logo img{
  width: 250px;
}
.menu-links ul li{
  list-style: none;
  font-size: 25px;
  margin-bottom: 5px;
  text-align:left
}
.menu-links ul li a{
  text-decoration: none;
  color: #fff;
}
.col2-wrapper{
  color: #fff;
text-align: left;
margin: 20px;
}
.Address h2{
font-size: 35px;
}
.Address p{
font-size: 20px;
}
.contact h3 a{
text-decoration: none;
color: #fff;
font-size: 30px;
}
.whatsapp-quotes{
  width: 60%;
margin: 20px auto;
}
.whatsapp-quotes a{
  text-decoration: none;
  color: #fff;
}
.btn-wrap{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #29a71a;
  border-radius: 25px;
}
.whatsapp-tag{
text-align: center;
align-items: center;
margin-left: 10px;
line-height: 20px;
}
.whatsapp-tag p{
  font-size: 20px;
  margin: 0;

}
.CopyRight{
  /* position: absolute;
  bottom: 0; */
  width: 100%;
  background-color:blueviolet;
  color: #fff;
}
.CopyRight .row{
  padding: 0;
  margin: 0;
}
.CopyRight p{
  margin: auto;
  padding: 7px;
}
.address p{
  margin: auto;
}
@media (max-width: 575.5px) {
.whatsapp-quotes{
  width: 100%;
}
}